In [1]:
import random
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
import os

In [2]:
def is_nodule(row):
    if row[5:7] == 'NI':
        return True
    else:
        return False

In [3]:
meta = pd.read_csv(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\Meta\meta_info.csv")
meta = meta.drop("is_clean",axis=1)
meta['is_nodule'] = meta['original_image'].apply(lambda row: is_nodule(row))
meta = meta[meta['is_nodule']==True]
meta.reset_index(inplace=True)
print(meta["patient_id"].nunique())
meta

862

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True
...,...,...,...,...,...,...,...,...,...
13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True
13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True
13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True
13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True
13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True

In [4]:
meta_patient_id = list(np.unique(meta['patient_id']))
len(meta_patient_id)
meta_patient_id[20:35]

[np.int64(21),
 np.int64(22),
 np.int64(23),
 np.int64(24),
 np.int64(25),
 np.int64(26),
 np.int64(27),
 np.int64(29),
 np.int64(30),
 np.int64(31),
 np.int64(33),
 np.int64(34),
 np.int64(35),
 np.int64(36),
 np.int64(37)]

In [5]:
def is_train(row,train,val,test):
    if row in train:
        return 'Train'
    elif row in val:
        return 'Validation'
    else:
        return 'Test'

In [6]:
def create_label_segmentation(meta):
    patient_id = list(np.unique(meta['patient_id']))
    train_patient , test_patient = train_test_split(patient_id,test_size= 0.2)
    train_patient, val_patient = train_test_split(train_patient,test_size= 0.13)
    print(len(train_patient),len(val_patient),len(test_patient))
    meta['data_split']= meta['patient_id'].apply(lambda row : is_train(row,train_patient,val_patient,test_patient))
    return meta

In [7]:
# We need to train/test split independently for clean_meta, meta
meta = create_label_segmentation(meta)
print('total_patients', len(meta_patient_id))
meta.to_csv(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\Meta\meta.csv")

599 90 173
total_patients 862

In [8]:
meta.head(30)

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
5,5,1,0,5,0001_NI000_slice005,0001_MA000_slice005,5,True,True,Test
6,6,1,0,6,0001_NI000_slice006,0001_MA000_slice006,5,True,True,Test
7,7,1,0,7,0001_NI000_slice007,0001_MA000_slice007,5,True,True,Test
8,8,2,0,0,0002_NI000_slice000,0002_MA000_slice000,5,True,True,Train
9,9,2,0,1,0002_NI000_slice001,0002_MA000_slice001,5,True,True,Train
10,10,2,0,2,0002_NI000_slice002,0002_MA000_slice002,5,True,True,Train
11,11,2,0,3,0002_NI000_slice003,0002_MA000_slice003,5,True,True,Train
12,12,2,0,4,0002_NI000_slice004,0002_MA000_slice004,5,True,True,Train
13,13,2,0,5,0002_NI000_slice005,0002_MA000_slice005,5,True,True,Train
14,14,2,0,6,0002_NI000_slice006,0002_MA000_slice006,5,True,True,Train
15,15,2,0,7,0002_NI000_slice007,0002_MA000_slice007,5,True,True,Train
16,16,2,0,8,0002_NI000_slice008,0002_MA000_slice008,5,True,True,Train
17,17,2,0,9,0002_NI000_slice009,0002_MA000_slice009,5,True,True,Train
18,18,2,0,10,0002_NI000_slice010,0002_MA000_slice010,5,True,True,Train
19,19,2,0,11,0002_NI000_slice011,0002_MA000_slice011,5,True,True,Train
20,20,2,0,12,0002_NI000_slice012,0002_MA000_slice012,5,True,True,Train
21,21,2,0,13,0002_NI000_slice013,0002_MA000_slice013,5,True,True,Train
22,22,2,0,14,0002_NI000_slice014,0002_MA000_slice014,5,True,True,Train
23,23,2,0,15,0002_NI000_slice015,0002_MA000_slice015,5,True,True,Train
24,24,2,0,16,0002_NI000_slice016,0002_MA000_slice016,5,True,True,Train
25,25,2,0,17,0002_NI000_slice017,0002_MA000_slice017,5,True,True,Train
26,26,2,0,18,0002_NI000_slice018,0002_MA000_slice018,5,True,True,Train
27,27,2,0,19,0002_NI000_slice019,0002_MA000_slice019,5,True,True,Train
28,28,2,0,20,0002_NI000_slice020,0002_MA000_slice020,5,True,True,Train
29,29,2,0,21,0002_NI000_slice021,0002_MA000_slice021,5,True,True,Train

In [9]:
IMAGE_DIR = r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\Images"
all_files_list = [f[:-4] for f in os.listdir(IMAGE_DIR)]
all_files_list.sort()       
print(len(all_files_list))
print(all_files_list[0:10])
meta = meta[meta.original_image.isin(all_files_list)]
meta

13564
['0001_NI000_slice000', '0001_NI000_slice001', '0001_NI000_slice002', '0001_NI000_slice003', '0001_NI000_slice004', '0001_NI000_slice005', '0001_NI000_slice006', '0001_NI000_slice007', '0002_NI000_slice000', '0002_NI000_slice001']

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Test
13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Test
13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Train
13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Train
13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Train

In [10]:
meta.to_csv(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\Meta\meta_mal_nonmal.csv")

In [11]:
meta_mal_ben = meta[~(meta['malignancy'] == 3)]
meta_mal_ben

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Test
13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Test
13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Train
13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Train
13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Train

In [12]:
meta_mal_ben.to_csv(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\Meta\meta_mal_ben.csv")

# LIDC_datasplit

In [13]:
meta

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Test
13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Test
13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Train
13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Train
13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Train

In [14]:
meta.is_cancer.unique()

array(['True', 'False', 'Ambiguous'], dtype=object)

In [15]:
meta = meta[meta.original_image.isin(all_files_list)]
meta

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Test
13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Test
13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Train
13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Train
13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Train

In [16]:
meta_cancer = meta[meta['is_cancer']=='True']
meta_cancer

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...
13597,13597,1011,2,0,1011_NI002_slice000,1011_MA002_slice000,5,True,True,Test
13598,13598,1011,2,1,1011_NI002_slice001,1011_MA002_slice001,5,True,True,Test
13599,13599,1011,2,2,1011_NI002_slice002,1011_MA002_slice002,5,True,True,Test
13600,13600,1011,2,3,1011_NI002_slice003,1011_MA002_slice003,5,True,True,Test
13601,13601,1011,2,4,1011_NI002_slice004,1011_MA002_slice004,5,True,True,Test

In [18]:
print(np.sum(meta_cancer.is_cancer == 'True'))
meta_cancer["patient_id"].nunique()

5074

383

In [19]:
meta_noncancer = meta[meta['is_cancer']=='False'] 
meta_noncancer

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
36,36,3,0,0,0003_NI000_slice000,0003_MA000_slice000,2,False,True,Train
37,37,3,0,1,0003_NI000_slice001,0003_MA000_slice001,2,False,True,Train
38,38,3,0,2,0003_NI000_slice002,0003_MA000_slice002,2,False,True,Train
39,39,3,0,3,0003_NI000_slice003,0003_MA000_slice003,2,False,True,Train
40,40,3,0,4,0003_NI000_slice004,0003_MA000_slice004,2,False,True,Train
...,...,...,...,...,...,...,...,...,...,...
13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Test
13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Test
13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Train
13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Train
13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Train

In [20]:
print(np.sum(meta_noncancer.is_cancer == 'False'))
meta_noncancer["patient_id"].nunique()

3216

449

In [21]:
meta_ambig = meta[meta['is_cancer']=='Ambiguous']
meta_ambig

,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
64,64,5,0,0,0005_NI000_slice000,0005_MA000_slice000,3,Ambiguous,True,Train
65,65,5,0,1,0005_NI000_slice001,0005_MA000_slice001,3,Ambiguous,True,Train
66,66,5,1,0,0005_NI001_slice000,0005_MA001_slice000,3,Ambiguous,True,Train
67,67,5,1,1,0005_NI001_slice001,0005_MA001_slice001,3,Ambiguous,True,Train
68,68,5,1,2,0005_NI001_slice002,0005_MA001_slice002,3,Ambiguous,True,Train
...,...,...,...,...,...,...,...,...,...,...
13554,13554,1008,1,1,1008_NI001_slice001,1008_MA001_slice001,3,Ambiguous,True,Train
13555,13555,1008,1,2,1008_NI001_slice002,1008_MA001_slice002,3,Ambiguous,True,Train
13561,13561,1008,4,0,1008_NI004_slice000,1008_MA004_slice000,3,Ambiguous,True,Train
13562,13562,1008,4,1,1008_NI004_slice001,1008_MA004_slice001,3,Ambiguous,True,Train
13563,13563,1008,4,2,1008_NI004_slice002,1008_MA004_slice002,3,Ambiguous,True,Train

In [22]:
print(np.sum(meta_ambig.is_cancer == 'Ambiguous'))
meta_ambig["patient_id"].nunique()

5274

573

In [23]:
cancer = list(meta_cancer['index'])
non_cancer = list(meta_noncancer['index'])
ambiguous = list(meta_ambig['index'])

In [25]:
len(cancer+non_cancer+ambiguous)

13564

In [26]:
labels = []
for i in range(13916):
    if i in cancer:
        labels.append(2) #'cancer'
    if i in ambiguous:
        labels.append(1) #'ambiguous'
    if i in non_cancer:
        labels.append(0) #'non_cancer'
len(labels)

13564

In [27]:
np.save(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\latent vectors" + '/' + 'labels', labels)

In [28]:
labels2 = []
for i in range(13916):
    if i in cancer:
        labels2.append(1) #'cancer'
    if i in ambiguous:
        labels2.append(0) #'ambiguous'
    if i in non_cancer:
        labels2.append(0) #'non_cancer'
len(labels2)

13564

In [29]:
np.save(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\latent vectors" + '/' + 'labels2', labels2)

In [30]:
patient_ids = list(meta['patient_id'])
len(patient_ids)

13564

In [31]:
len(np.unique(patient_ids))

862

In [32]:
labels3 = []
for i in range(13916):
    if i in cancer:
        labels3.append(1) #'cancer'
    if i in non_cancer:
        labels3.append(0) #'non_cancer'

np.save(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\latent vectors" + '/' + 'labels3', labels3)

len(labels3)

8290

In [33]:
meta_new = meta.reset_index()
meta_new

,level_0,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
0,0,0,1,0,0,0001_NI000_slice000,0001_MA000_slice000,5,True,True,Test
1,1,1,1,0,1,0001_NI000_slice001,0001_MA000_slice001,5,True,True,Test
2,2,2,1,0,2,0001_NI000_slice002,0001_MA000_slice002,5,True,True,Test
3,3,3,1,0,3,0001_NI000_slice003,0001_MA000_slice003,5,True,True,Test
4,4,4,1,0,4,0001_NI000_slice004,0001_MA000_slice004,5,True,True,Test
...,...,...,...,...,...,...,...,...,...,...,...
13559,13602,13602,1011,3,0,1011_NI003_slice000,1011_MA003_slice000,2,False,True,Test
13560,13603,13603,1011,3,1,1011_NI003_slice001,1011_MA003_slice001,2,False,True,Test
13561,13604,13604,1012,0,0,1012_NI000_slice000,1012_MA000_slice000,2,False,True,Train
13562,13605,13605,1012,0,1,1012_NI000_slice001,1012_MA000_slice001,2,False,True,Train
13563,13606,13606,1012,0,2,1012_NI000_slice002,1012_MA000_slice002,2,False,True,Train

In [34]:
meta_ambig = meta_new[meta_new['is_cancer']=='Ambiguous']
meta_ambig

,level_0,index,patient_id,nodule_no,slice_no,original_image,mask_image,malignancy,is_cancer,is_nodule,data_split
64,64,64,5,0,0,0005_NI000_slice000,0005_MA000_slice000,3,Ambiguous,True,Train
65,65,65,5,0,1,0005_NI000_slice001,0005_MA000_slice001,3,Ambiguous,True,Train
66,66,66,5,1,0,0005_NI001_slice000,0005_MA001_slice000,3,Ambiguous,True,Train
67,67,67,5,1,1,0005_NI001_slice001,0005_MA001_slice001,3,Ambiguous,True,Train
68,68,68,5,1,2,0005_NI001_slice002,0005_MA001_slice002,3,Ambiguous,True,Train
...,...,...,...,...,...,...,...,...,...,...,...
13511,13554,13554,1008,1,1,1008_NI001_slice001,1008_MA001_slice001,3,Ambiguous,True,Train
13512,13555,13555,1008,1,2,1008_NI001_slice002,1008_MA001_slice002,3,Ambiguous,True,Train
13518,13561,13561,1008,4,0,1008_NI004_slice000,1008_MA004_slice000,3,Ambiguous,True,Train
13519,13562,13562,1008,4,1,1008_NI004_slice001,1008_MA004_slice001,3,Ambiguous,True,Train
13520,13563,13563,1008,4,2,1008_NI004_slice002,1008_MA004_slice002,3,Ambiguous,True,Train

In [35]:
ambiguous = meta_ambig.index.values.tolist()
np.save(r"D:\aMaster\github_code\VAE_lung_lesion_BMVC\Data\latent vectors" + '/' + 'ambiguous', ambiguous)
ambiguous[-10:]

[13486, 13507, 13508, 13509, 13510, 13511, 13512, 13518, 13519, 13520]

# other way

In [61]:
patient_ids = [i for i in range(875)]
train_set, test_set, valid_set = [], [], []

print("70:20:10 split")

while len(train_set) < 612:
    index = random.choice(patient_ids)
    if index not in train_set:
        train_set.append(meta_patient_id[index])
train_set = sorted(train_set)
print(len(train_set))

patient_ids2 = [i for i in range(875) if i not in train_set]

while len(test_set) < 176:
    index = random.choice(patient_ids2)
    if index not in test_set:
        test_set.append(meta_patient_id[index])
test_set = sorted(test_set)
print(len(test_set))

for index in range(875):
    if index not in train_set:
        if index not in test_set:
            valid_set.append(meta_patient_id[index])
valid_set = sorted(valid_set)
print(len(valid_set))

def change_into_string(dataset):
    str_dataset = []
    for index in dataset:
        if len(str(index)) == 1:
            str_dataset.append(str(0) + str(0) + str(0) + str(index))
        if len(str(index)) == 2:
            str_dataset.append(str(0) + str(0) + str(index))
        if len(str(index)) == 3:
            str_dataset.append(str(0) + str(index))
        if len(str(index)) == 4:
            str_dataset.append(str(index))
    return str_dataset

train = change_into_string(train_set)
test = change_into_string(test_set)
valid = change_into_string(valid_set)

70:20:10 split
612
176
466